<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zingbytes.maxziapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.Home"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.SignIn"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:name=".activity.SignUp"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.SignIn"/>

        <activity
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".activity.Forgotpassword"
            android:parentActivityName=".activity.SignIn"/>

    </application>

</manifest>